<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
   <meta name="description"
      content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
   <meta name="keywords"
      content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
   <meta name="author" content="ThemeSelect">
   <title>Dashboard eCommerce | Materialize - Material Design Admin Template</title>
   <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon-152x152.png">
   <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon-32x32.png">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- BEGIN: VENDOR CSS-->
   <link rel="stylesheet" type="text/css" href="/vendors/vendors.min.css">
   <!-- END: VENDOR CSS-->
   <!-- BEGIN: Page Level CSS-->
   <link rel="stylesheet" type="text/css" href="/css/themes/vertical-dark-menu-template/materialize.css">
   <link rel="stylesheet" type="text/css" href="/css/themes/vertical-dark-menu-template/style.css">
   <link rel="stylesheet" type="text/css" href="/css/pages/dashboard.css">
   <!-- END: Page Level CSS-->
   <!-- BEGIN: Custom CSS-->
   <link rel="stylesheet" type="text/css" href="/css/custom/custom.css">
   <!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu 2-columns  "
   data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

   <!-- BEGIN: Header-->
   <header class="page-topbar" id="header">
      <div class="navbar navbar-fixed">
         <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark">
            <div class="nav-wrapper">
               <div class="header-search-wrapper hide-on-med-and-down"><i class="material-icons">search</i>
                  <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Search">
               </div>
               <ul class="navbar-list right">
                  <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button"
                        href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                 
                  <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);"
                        data-target="profile-dropdown"><span class="avatar-status avatar-online"><img
                              src="/images/avatar/avatar-7.png" alt="avatar"><i></i></span></a></li>
               </ul>
               <!-- translation-button-->
               {{!-- <ul class="dropdown-content" id="translation-dropdown">
                  <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-gb"></i> English</a>
                  </li>
                  <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-fr"></i> French</a>
                  </li>
                  <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-cn"></i> Chinese</a>
                  </li>
                  <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-de"></i> German</a>
                  </li>
               </ul> --}}
               <!-- notifications-dropdown-->
               <ul class="dropdown-content" id="notifications-dropdown">
                  
               </ul>
               <!-- profile-dropdown-->
               <ul class="dropdown-content" id="profile-dropdown">
                  <li><a class="grey-text text-darken-1" href="user-profile-page.html"><i
                           class="material-icons">person_outline</i> Profile</a></li>
                  <li class="divider"></li>
                  
                  <li><a class="grey-text text-darken-1" href="user-login.html"><i
                           class="material-icons">keyboard_tab</i> Logout</a></li>
               </ul>
            </div>
            <nav class="display-none search-sm">
               <div class="nav-wrapper">
                  <form>
                     <div class="input-field">
                        <input class="search-box-sm" type="search" required="">
                        <label class="label-icon" for="search"><i
                              class="material-icons search-sm-icon">search</i></label><i
                           class="material-icons search-sm-close">close</i>
                     </div>
                  </form>
               </div>
            </nav>
         </nav>
      </div>
   </header>
   <!-- END: Header-->



   <!-- BEGIN: SideNav-->
   <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-rounded">
      <div class="brand-sidebar">
         <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="/dashboard/{{token}}"><span
                  class="logo-text hide-on-med-and-down">{{appName}}</span></a></h1>
      </div>
      <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out"
         data-menu="menu-navigation" data-collapsible="accordion">
         {{{menu}}}

      </ul>
      <div class="navigation-background"></div><a
         class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
         href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
   </aside>
   <!-- END: SideNav-->

   <!-- BEGIN: Page Main-->
   <div id="main">
      <div class="row">
         <div class="col s12">
            <div class="container">
               <!--card stats start-->
               <div id="card-stats">
                  <div class="row">
                     <div class="col s12 m6 l6 xl3">
                        <div
                           class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text animate fadeLeft">
                           <div class="padding-4">
                              <div class="col s7 m7">
                                 <i class="material-icons mt-5">add_shopping_cart</i>
                                 <p>Orders</p>
                              </div>
                              <div class="col s5 m5 right-align">
                                 <h5 class="mb-0 white-text">690</h5>
                                 <p class="no-margin">New</p>
                                 <p>6,00,00</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col s12 m6 l6 xl3">
                        <div
                           class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text animate fadeLeft">
                           <div class="padding-4">
                              <div class="col s7 m7">
                                 <i class="material-icons mt-5">perm_identity</i>
                                 <p>Clients</p>
                              </div>
                              <div class="col s5 m5 right-align">
                                 <h5 class="mb-0 white-text">1885</h5>
                                 <p class="no-margin">New</p>
                                 <p>1,12,900</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col s12 m6 l6 xl3">
                        <div
                           class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text animate fadeRight">
                           <div class="padding-4">
                              <div class="col s7 m7">
                                 <i class="material-icons mt-5">timeline</i>
                                 <p>Sales</p>
                              </div>
                              <div class="col s5 m5 right-align">
                                 <h5 class="mb-0 white-text">80%</h5>
                                 <p class="no-margin">Growth</p>
                                 <p>3,42,230</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col s12 m6 l6 xl3">
                        <div
                           class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text animate fadeRight">
                           <div class="padding-4">
                              <div class="col s7 m7">
                                 <i class="material-icons mt-5">attach_money</i>
                                 <p>Profit</p>
                              </div>
                              <div class="col s5 m5 right-align">
                                 <h5 class="mb-0 white-text">$890</h5>
                                 <p class="no-margin">Today</p>
                                 <p>$25,000</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--card stats end-->
               <!--yearly & weekly revenue chart start-->
               <div id="sales-chart">
                  <div class="row">
                     <div class="col s12 m8 l8">
                        <div id="revenue-chart" class="card animate fadeUp">
                           <div class="card-content">
                              <h4 class="header mt-0">
                                 REVENUE FOR 2017
                                 <span class="purple-text small text-darken-1 ml-1">
                                    <i class="material-icons">keyboard_arrow_up</i> 15.58 %</span>
                                 <a
                                    class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow right">Details</a>
                              </h4>
                              <div class="row">
                                 <div class="col s12">
                                    <div class="yearly-revenue-chart">
                                       <canvas id="thisYearRevenue" class="firstShadow" height="350"></canvas>
                                       <canvas id="lastYearRevenue" height="350"></canvas>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col s12 m4 l4">
                        <div id="weekly-earning" class="card animate fadeUp">
                           <div class="card-content">
                              <h4 class="header m-0">Earning <i
                                    class="material-icons right grey-text lighten-3">more_vert</i></h4>
                              <p class="no-margin grey-text lighten-3 medium-small">Mon 15 - Sun 21</p>
                              <h3 class="header">$899.39 <i
                                    class="material-icons deep-orange-text text-accent-2">arrow_upward</i></h3>
                              <canvas id="monthlyEarning" class="" height="150"></canvas>
                              <div class="center-align">
                                 <p class="lighten-3">Total Weekly Earning</p>
                                 <a
                                    class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow">View
                                    Full</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--yearly & weekly revenue chart end-->
               <!-- Member online, Currunt Server load & Today's Revenue Chart start -->
               
               <!-- Member online, Currunt Server load & Today's Revenue Chart start -->
               <!-- ecommerce product start-->
              
               <!--end container-->
               <!-- START RIGHT SIDEBAR NAV -->

               <!-- END RIGHT SIDEBAR NAV -->

            </div>
         </div>
      </div>
   </div>
   <!-- END: Page Main-->

   <!-- BEGIN: Footer-->


   <!-- END: Footer-->
   <!-- BEGIN VENDOR JS-->
   <script src="/js/vendors.min.js" type="text/javascript"></script>
   <!-- BEGIN VENDOR JS-->
   <!-- BEGIN PAGE VENDOR JS-->
   <script src="/vendors/chartjs/chart.min.js"></script>
   <!-- END PAGE VENDOR JS-->
   <!-- BEGIN THEME  JS-->
   <script src="/js/plugins.js" type="text/javascript"></script>
   <script src="/js/custom/custom-script.js" type="text/javascript"></script>
   <!-- END THEME  JS-->
   <!-- BEGIN PAGE LEVEL JS-->
   {{!-- <script src="/js/scripts/dashboard-ecommerce.js" type="text/javascript"></script> --}}
   <!-- END PAGE LEVEL JS-->
</body>

</html>