/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
html {
  color: #333;
  font-size: 14px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin-bottom: 170px;
  background-color: #f3f2f2;
  /* height: calc(100% - 71px) !important; */
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: no; */
  border-top: 1px solid #eee;
  background-color: #fff;
  color: #000000;
}
.loginBody {
  background-color: #fff;
}

#login-page{
  position: fixed;
  top: 20%;
  /* left: 50%; */
  /* width: 30em; */
}
.registerBody {
  background-color: #fff;
}
#register-page{
  position: fixed;
  top:5%;
}

.buy-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: no; */
  border-top: 1px solid #eee;
  color: #333;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.buy-buttons .col {
  padding: 5px !important;
}
.buy-buttons .btn-flat {
  width: 100%;
  /* color: #fff !important; */
}
.loginPageFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: no; */
  padding: 16px 0px;
  border-top: 1px solid #eee;
  background-color: #fff;
  color: #000000;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.page-footer .row {
  margin: 0 !important;
}
.page-footer a {
  float: left;
  display: block;
  color: #0f0101;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 12px;
}
.page-footer a:hover {
  background: #e99696;
  color: rgb(253, 252, 252);
}

.navbar a.active {
  background-color: #f52a07;
  color: white;
}
#main {
  flex: 1 0 auto;
  /* height: calc(100% - 71px) !important;	 */
  padding: 0px !important;
}
/* .row {
  margin-bottom: 20px;
} */
#displayLoading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background: #000;
  opacity: 0.7;
}
.custom-loader {
  top: 50%;
  left: 45%;
  position: absolute;
}

/* i {
  width: 24px;
} */
.custom_logo {
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.custom_postfix {
  font-family: "Raleway", sans-serif;
  color: #d63447;
  font-size: 28px;
  font-weight: 700;
}
.bottom_menu_title {
  text-align: center;
  color: gray;
}
.bottom_menu_icon {
  text-align: center;
  color: gray;
}
.bottom-menu {
  text-align: center;
  color: gray;
  padding: 10px 0px !important;
}
.bottom-menu-active {
  color: #d63447;
}

.service-img {
  width: 50px;
  height: 50px;
}
.service_title {
  text-align: center;
  color: #333333;
  font-size: 14px;
}

.service_menu {
  text-align: center;
  color: #333333;
  padding: 10px 0px !important;
}
 #homeSlider {
  height: 180px !important;
  width: 100%;
  margin-top: 5px !important; 
  /* background-image: url("../../images/b1.png"); */
  
} 
#banner2{
  
   background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../images/banner_1.JPG");
}
#banner1{
  
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../images/b1.png");
}
.carousel-slider {
  height: 350px !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  background-color: white;
  margin: 8px 0px;
}
.card .card-action {
  padding: 8px;
}
.collection-header {
  background-color: #f3f2f2 !important;
}
.secondary-content {
  color: gray;
}
.list-desc {
  text-align: justify;
}
.collection-desc {
  padding: 18px !important;
}
.back-arrow {
  padding: 0px 10px !important;
}
.header-title {
  font-size: 18px;
  font-weight: normal;
}
footer {
  padding-left: 0;
}
.bodycontainer {
  margin-bottom: 71px;
}
.btn {
  background-color: #d63447;
}
.collection .collection-item.avatar i.circle {
  color: #37474f;
}
.about-us ul{
	padding-inline-start: 20px;
}
.about-us li{
	list-style: disc !important;
	list-style-type: disc !important;
}
#login-page{
  margin:0px;
  width: 100%;
}
#register-page{
  margin:0px;
  width: 100%;
}
nav{
  line-height: 1;
    width: 100%;
    height: 56px;
    color: gray;
    background-color: white;
}
nav .input-field label i {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  color: gray;
}
.input-field input[type="search"] ~ .mdi-navigation-close,
.input-field input[type="search"] ~ .material-icons {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  color: gray;
}
nav .input-field label.active i {
  color: gray;
}
.navbar .navbar-light {
  background: #d63447;
}
.categorylist{
  display: flex;
  overflow-y: scroll;
  margin: 0px 10px;
}
.category-img {
  width: 30px;
  height: 30px;
}
.category_title {
  text-align: center;
  color: black;
  font-size: 12px;
}

.category_menu {
  text-align: center;
  color: #333333;
  padding: 10px!important;
}
.categoryitem{
  width: 70px;
  margin: 0px 5px;
}
.sidebar-header{
  padding:10px 0px;
  background-color: #d63447;
  border-bottom: 1px solid #eee;
}
.card-badge {
  line-height: 2em;
  position: absolute;
  top: 0.5rem;
  right: -10rem;
  display: block;
  width: 24rem;
  height: 2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-indent: 0.8em;
  background: #388e3c;
}
.card-badge a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #dedede;
}
.white-text {
  color: #fff !important;
}
#productsList .card-content {
  padding: 8px;
}
.card-content p {
  font-size: 12px;
}

.shine {
  background: #eff1f3;
  background-image: linear-gradient(
    to right,
    #eff1f3 0%,
    #e2e2e2 20%,
    #eff1f3 40%,
    #eff1f3 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  -webkit-animation-name: placeholderShimmer;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.categoryitem box {
  height: 20px;
  width: 20px;
}
.productsList box {
  height: 120px;
  width: 130px;
}

box {
  height: 80px;
  width: 80px;
}
.categoryitem lines {
  height: 10px;
  margin-top: 10px;
  width: 40px;
}

.productsList lines {
  height: 10px;
  margin-top: 10px;
  width: 130px;
}

lines {
  height: 10px;
  margin-top: 10px;
  width: 200px;
}

photo {
  display: block !important;
  width: 325px;
  height: 100px;
  margin-top: 15px;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
.btn-floating {
  background-color: #d63447;
}
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  line-height: 56px;
  height: 56px;
  color: #fff;
}
.search-sm .nav-wrapper i{
  line-height: 1;
}
.btn-sidenav-toggle {
  line-height: 56px;
  height: 56px;
  color: #fff;
  /* margin-left: 10px; */
}

.profileImage{
  width: 100px;
  height: 100px;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s5ths {
  width: 20% !important;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20% !important;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20% !important;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20% !important;
  }
}

/* topbar color code #d63447 */
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #03a9f4;
  -webkit-box-shadow: none; 
   box-shadow: none;
}

.productImage {
  width: 135px !important; 
  height: 135px !important;
  float: left;
  position: relative;
  
}
.productDesc{
  margin-left: 10px ;
}
.homeProductDetails img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.carousel .indicators .indicator-item.active {
  background-color: gray;
}
.carousel .indicators .indicator-item {
  background-color: lightgray;
}
.bold{
  font-weight: bold;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #d63447;
}
.nav-header{
  line-height: 56px;
  height: 56px;
  color: #fff;
  margin: 0px;
}
[type='radio']:checked + span:after, [type='radio'].with-gap:checked + span:after {
  background-color: #d63447;
}
[type='radio']:checked + span:after, [type='radio'].with-gap:checked + span:before, [type='radio'].with-gap:checked + span:after {
  border: 2px solid #d63447;
}

